* {
  font-family: 'Krub', sans-serif;
}

/* Sidebar */
.sidebar-wrapper {
  overflow: hidden !important;
  background-color: #333;
}

.sidebar-wrapper a:before,
.sidebar-wrapper a:after {
  content: none !important;
}

.sidebar-wrapper .nav .menu-item {
  border-left: 5px solid #333;
}

.sidebar-wrapper .nav .active {
  border-left: 5px solid #f2c811;
}

.sidebar-wrapper .nav p,
.sidebar-wrapper .nav i {
  color: #fff !important;
}

.filter .filter__text {
  color: #fff;
  margin: 30px auto 0 auto;
  font-size: 18px;
  font-variant: small-caps;
  font-weight: bold;
}

.sidebar {
  border: 0 !important;
}

.sidebar:after {
  background-color: #333 !important;
}

.sidebar .logo:after {
  background-color: transparent;
}

.sidebar .logo {
  background-color: #000;
  color: #f2c811;
}

.sidebar .logo .simple-text {
  color: #f2c811;
  font-weight: bold;
  font-size: 20px;
}

/* Navbar */
.navbar {
  height: 60px;
  background-color: #000;
}

.navbar-nav .nav-item a {
  color: #f2c811 !important;
}

.navbar-nav .nav-item .search-button {
  padding: 2px 7px 0 0;
  font-size: 15px;
}

.navbar-nav .nav-item .nc-icon {
  top: 2px !important;
}

/* Mainpanel */
.main-panel {
  background-color: #fff;
}

/* Card */
.card {
  box-shadow: none;
}

/* Book */
.book {
  width: 128px;
}

.book__description {
  width: 115px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  margin: auto;
  font-size: 10px;
  height: 50px;
  padding: 10px 5px 5px 10px;
  font-weight: bold;
}

.book__share {
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  background-color: #fff;
  margin: -25px 0 0 49px;
  border: 1px solid #ccc;
  border-radius: 5px;
}